@font-face {
    font-family: domestic_manners;
    src: url(Domestic_Manners.ttf);
}

* {
    font-family: domestic_manners;
}

#title {
    font-size: 10vh;
    font-weight: 700;
    text-align: center;
}

#new-joke-btn {
    font-size: 4vh;
}

#btn-div {
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#checkbox-div {
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-around;
    font-size: 5vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#checkbox-div > span > input {
    width: 3vh;
    height: 3vh;
}

.label-output-pair {
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 5vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.label-output-pair > * {
    margin: 0
}

.label-output-pair > label {
    padding-right: 2vw;
}